@mixin noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  @include noSelect();
  position: relative;

  .header {
    background-color: #6758ff;
    width: 300px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    svg {
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
    }
  }
  .introduction {
    font-size: 12px;
    color: #6758ff;
  }
}
